<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La pelota siempre al 10</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- Agrega otros enlaces de hojas de estilo según sea necesario -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="font-sans leading-normal tracking-normal bg-gray-200">
    <!-- Encabezado de tu sitio (puede incluir un menú de navegación) -->
    <header class="bg-white border-b shadow-md">
        <div class="container mx-auto p-4">
            <!-- Puedes personalizar tu encabezado aquí -->
            <!-- Por ejemplo, agregar un logotipo, menú de navegación, etc. -->
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="container mx-auto my-6">
        {{{body}}}
    </main>

    <!-- Pie de página (footer) -->
    <footer class="bg-gray-800 text-white py-4 w-full bottom-0 fixed">
        <div class="container mx-auto text-center">
            <!-- Puedes personalizar tu pie de página aquí -->
            <!-- Por ejemplo, agregar información de contacto, enlaces, etc. -->
        </div>
    </footer>
</body>

</html>
