<!-- chat.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en Vivo</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-gray-200">
    <div class="container mx-auto my-6">
        <h1 class="text-3xl font-semibold mb-6">Chat en Vivo</h1>

        <div id="chat-messages" class="mb-4">
            {{#each messages}}
                <div class="bg-white p-2 rounded-md mb-2">
                    <strong>{{this.user}}:</strong> {{this.message}}
                </div>
            {{/each}}
        </div>

        <form id="chat-form" class="flex items-center">
            <input type="text" id="user" placeholder="Tu Nombre" class="px-3 py-2 border rounded-md mr-2" required>
            <input type="text" id="message" placeholder="Escribe un mensaje" class="px-3 py-2 border rounded-md mr-2" required>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Enviar</button>
        </form>
    </div>

    <script>
        const chatForm = document.getElementById('chat-form');
        const chatMessages = document.getElementById('chat-messages');

        // Evento para enviar un nuevo mensaje
        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const user = document.getElementById('user').value;
            const message = document.getElementById('message').value;

            // Enviar el mensaje al servidor (implementa la lógica del lado del servidor)
            socket.emit('chatMessage', { user, message });

            // Limpia el campo de entrada de mensajes
            document.getElementById('message').value = '';
        });

        // Función para agregar un mensaje al chat
        function appendMessage(user, message) {
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('message');
            messageDiv.innerHTML = `<strong>${user}:</strong> ${message}`;
            chatMessages.appendChild(messageDiv);
        }

        // Evento para recibir y mostrar un mensaje del servidor
        socket.on('chatMessage', ({ user, message }) => {
            appendMessage(user, message);
        });

        // Implementa la lógica para cargar mensajes anteriores desde MongoDB (si es necesario)

    </script>
</body>

</html>
