<!-- login.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gray-200">
    <div class="container mx-auto my-6">
        <h1 class="text-3xl font-semibold mb-6">Iniciar Sesión</h1>
        <form action="/api/sessions/login" method="POST" class="max-w-md bg-white p-6 rounded-md shadow-md">
            <label for="email" class="block text-gray-700">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="border rounded-md p-2 mb-2 w-full" required>

            <label for="password" class="block text-gray-700">Contraseña:</label>
            <input type="password" id="password" name="password" class="border rounded-md p-2 mb-4 w-full" required>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Iniciar Sesión</button>
        </form>

        <p class="mt-4">¿No tienes una cuenta? <a href="/register" class="text-blue-500">Regístrate aquí</a></p>
        <a href="/auth/github" class="text-black-500">Iniciar sesión con GitHub</a>
    </div>
</body>
</html>

